<h1>Welcome to Dealership Central 3.0</h1>
<h5>Saving vehicles since the fall of the Roman Empire</h5>


<ul>
<li><a href="/all_dealers/">See Dealership List</a></li>
<li><a href="/all_dealers/new">Add New Dealership</a></li>
</ul>
<nr>
<br>
<h6>*dates listed above may not be accurate</h6>
